          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '43' %>" class="btn btn-danger btn-lg btn-block">                                     
                <h2 class="text-light"> CAFETERIA             ___cafeteria____43ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/genla/snippet/<%= '45' %>" class="btn btn-danger btn-lg btn-block">                                     
                <h2 class="text-light"> TORTAS CASERAS        ___cafeteria____45ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
