    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZARELLA . . . .   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZARELLA C/ANCHOA  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZARELLA,MORRON .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC MUZZA C/JAMON . . .   $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC MUZZA/JAMON/MORRONES  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION ANCHOAS . . . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION NAPOLITANA . . .   $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FAINA RELLENA . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FZZTA C/QUESO . . $105</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUZZTA C/JAM,QUE  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION VERDURAC/SALSA BC  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FAINA . . . . . .  $45</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FAINA/SALON . . .  $45</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA SALON . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO PIZZA BARRA . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZARELLA . . . .   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZA CON ANCHOA .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZA,MORRON . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZA CON JAMON . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZA,JAMON,MORRON   $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. ANCHOAS . . . . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC.FUGAZZA . . . . . .   $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. NAPOLITANA . . . .   $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FAINA RELLENA . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. FUZZTA QUESO . . .  $105</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. FUZZTA JAM/QUESO .  $115</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. VERDURA . . . . . .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. FUGAZZA/SALON . . .  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>GR01 MUZZARELLA /SALON .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR02 MUZZA/ANCHOAS/SALON  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>GR03 MUZZA/MORRONES/SALON $490</li>                          
                <li class="text-center"><span class="fa-li"></span>GR04 MUZZA/HUEVO/SALON .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>GR05 MUZZA/JAMON/SALON .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>GR06 MUZZA/JAM/MORR/SALON $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR07 MUZZ/JAM/HUEVO/SALON $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR08 ANCHOAS/SALON . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR09 PIZZAIOLA/SALON . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR10 MIXTA/SALON . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>GR11 NAPOLITANA/SALON . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR12 NAPO/JAMON/SALON . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR13 NAPO/HUEVO/SALON . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR14 CALABRESA/SALON . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR15 ESPANOLA/SALON . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR16 CUATRO ESTACIONES .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>GR17 FUGTTA/QUE/SALON . . $820</li>                          
                <li class="text-center"><span class="fa-li"></span>GR18 FUGTTA/JAM/QUE/SALON $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GR19 VERDURA/SALON . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR60 FUGAZZA/SALON . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR61 AMERICANA/SALON . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>CH01 MUZZARELLA/SALON . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CH02 MUZA/ANCHOAS/SALON . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>CH03 MUZA/MORRON/SALON .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>CH04 MUZA/HUEVO/SALON . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>CH05 MUZA/JAMON/SALON . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>CH06 MUZA/JAM/MORR/SALON  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CH07 MUZA/JAM/HUEVO/SALON $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CH08 ANCHOAS/SALON . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CH09 PIZZAIOLA/SALON . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>CH10 MIXTA/SALON . . . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>CH11 NAPOLIATNA/SALON . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CH12 NAP/JAMON/SALON . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CH13 NAP/HUEVO/SALON . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH14 CALABRESA/SALON . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CH15 ESPAÑOLA/SALON . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CH19 VERDURA/SALON . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CH61 AMERICANA/SALON. . . $350</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS ESPECIALES GE</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GR21 GENOVA 1/SALON . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR22 GENOVA 2/SALON . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR23 GENOVA 3/SALON . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR24 GENOVA 4/SALON . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>GR25 GENOVA 5/SALON . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>GR26 GENOVA 6/SALON . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>CH21 GENOVA 1/SALON . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH22 GENOVA 2/SALON . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH23 GENOVA 3/SALON . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH24 GENOVA 4/SALON . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CH25 GENOVA 5/SALON . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>CH26 GENOVA 6/SALON . . . $480</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ESPECIALES DE LA CAS</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GR27 JAMON/PALMITOS/SALON $620</li>                          
                <li class="text-center"><span class="fa-li"></span>GR28 .POLLO/PUERROS/SALON $620</li>                          
                <li class="text-center"><span class="fa-li"></span>GR29 POLLO/PORTUGUE/SALON $620</li>                          
                <li class="text-center"><span class="fa-li"></span>GR30 PALM/SALSAGOLF/SALON $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR31 ALCAUC/MORRON/SALON  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR32 ATUN/MORRON/SALON .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CH27 JAMON/PALMITOS/SALON $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CH28 POLLO PUERROS/SALON  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CH29 POLLO/PORTUG/SALON . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CH30 PALM/SALSAGOLF/SALON $520</li>                          
                <li class="text-center"><span class="fa-li"></span>CH31 ALCAUC/7MORRON/SALON $520</li>                          
                <li class="text-center"><span class="fa-li"></span>CH32 ATUN/MORRON/SALON .  $520</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ESPECIALIDADES CON Q</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GR33 ROQUEFORT/SALON . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>GR34 ROQUE/JAM/PALM/SALO  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>GR35 ROQ/MORR/CHAM/SALON  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR36 ROQUE/MOR/CEB/SALON  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR37 PROVOLONE/SALON . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>GR38 PROV/CEBOLLA/SALON . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR39 PROV/CHAMP/SALON . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR40 PROV/MORR/CEB/SALON  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>GR41 CUATRO QUESOS/SALON  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>CH33 ROQUEFORT/SALON . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH34 ROQUE/JAM/PALM/SALON $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH35 ROQ/MORR/CHAM/SALON  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>CH36 ROQUE/MORR/CEB/SALON $520</li>                          
                <li class="text-center"><span class="fa-li"></span>CH37 PROVOLONE/SALON . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH38 PROV/CEBOLLA/SALON . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH39 PROV/CHAMP/SALON . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH40 PROV/MORR/CEB/SALON  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH41 CUATRO QUESOS/SALON  $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ESPECIALIDADES CON T</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GR42 TOM/POLLO/CHAM/SALON $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR43 TOM/POLLO/PUER/SALON $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR44 TOM/JAM/ESPAR/SALON  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR45 TOM/MORR/CEB/SALON . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR46 DE LA NONNA/SALON .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH42 TOM/POLLO/CHAM/SALON $570</li>                          
                <li class="text-center"><span class="fa-li"></span>CH43 TOM/POLLO/PUER/SALON $570</li>                          
                <li class="text-center"><span class="fa-li"></span>CH44 TOM/JAM/ESPARR/SALON $570</li>                          
                <li class="text-center"><span class="fa-li"></span>CH45 TOM/MORR/CEB/SALON . $570</li>                          
                <li class="text-center"><span class="fa-li"></span>CH46 DE LA NONNA/SALON .  $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ESPECIALES FRUTALES </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GR47 JAMON/ANANA/SALON .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR48 POLLO/ANANA/SALON .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR49 JAM/DUR/CEREZA/SALON $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CH47 JAMON/ANANA/SALON .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CH48 POLLO/ANANA/SALON .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CH49 JAM/DUR/CEREZA/SALON $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS MODERNAS     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GR50 RUCULA/CRUDO/SALON . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR51 PROVOLETA/SALON . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GR52 ROMANA/SALON . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GRA3 ESMERALDA . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CH50 RUCULA/CRUDO/SALON . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CH51 PROVOLETA/SALON . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CH52 ROMANA/SALON . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CH53 ESMERALDA SALON . .  $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS FRTIAS/AL </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMP VARIOS SABORES HORNO   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS X 6 UNID . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS X12 UNID . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA BARRA/DELIVERY .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMP VARIOS SABORES FRITAS  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>EMP VARIOS SABORES FRITAS  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>DOC/ EMPANADAS . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO EMPANADA SALON . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>PROMO EMPANADA BARRA . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ENPANADA DE ATUN . . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADA VIGILIA . . . .   $50</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MIXTA(LECH,TOMA,CEBO) . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>TOMATE, LECHUGAY ZANAHORI $240</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA COMPLETA . . . . $350</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">TORTILLAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TORTILLA PAPA/ ACELGA . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPAÑOLA . . . . $375</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELET MIXTO . . . . . .  $375</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES FRANCES/A</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND JAM O QUESO/SALON .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO Y QUESO . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CRUDO/SALON . . . .  $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CRUDO/QUE/SALON . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MIXTO TOSTADO/SALON  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS JAM Y QUE TOST $270</li>                          
                <li class="text-center"><span class="fa-li"></span>REC TOM/HUEV/QUESOS . . .  $25</li>                          
                <li class="text-center"><span class="fa-li"></span>REC .JAMATUN/PALM/MORRON.  $65</li>                          
                <li class="text-center"><span class="fa-li"></span>CRUDO CO RU . . . . . . . $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MILANESAS TERNERA/PO</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORC , PURE , FRITA, CALA $180</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNI FRITAS,PURE,CALA .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION PAPA CRE . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA CHAMPI C/FRITAS . .  $265</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA C/GUARNICION . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA COMPLETA . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA NAPO C/GUARNICION .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO C/U . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC ESPINACA A LA CREMA  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>TOMATE AL MEDIO . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA .TER . .POLLO SOLO . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA NAPO SOLA . . . . .  $350</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES CALIENTES</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SAND HAMB C/QUESO . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND HAMB CLASICO . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CHURR SENCILLO . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CHURR C/QUESO . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND CHURR CLASICO . . .  $480</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND POLLO SENCILLO . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND POLLO C/QUESO . . .  $355</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND POLLO CLASICO . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA SENCILLO . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA C/QUESO . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>SAND MILA .CLASICO . . .  $395</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SUPREMAS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SUPREMA C/GUARNICION . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA DE POLLO COMPLETA $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA A LA NAPOLITANA . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA A LA SUIZA . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA RELLENA . . . . . $880</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA MARYLAND . . . .  $880</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">AVES                </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO HORNO C/PAPAS . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO DESHUE C/ GUAR  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO PROV/AJI/VERD . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>CAZUELA DE POLLO . . . .  $595</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLITO PALERMO . . . . . $595</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLITO AL ZURICH . . . . $595</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLITO RIGOLETO . . . .  $595</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLITO BONNE FEMME . . . $595</li>                          
                <li class="text-center"><span class="fa-li"></span>POLL,FILET,AJIL,PROV,CHAM $595</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CARNES              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BIFE AL CHAMPI . . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO A LA RIOJANA $950</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE DE CHORIZO . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO C/GUAR .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO GRUYERE . . . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO AL CHAMPIGNON . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO A LA PIMIENTA . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO AL BOURGUINON . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMO EDUARDO VII . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE CHORIZO RIOJANA . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE SOLO . . . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>ASADO CON FRITAS/ ENSALAD $800</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ESCALOPES           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ESCALOPE DE LOMO . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE AL AJILLO . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPE A LA MARSALA . . $800</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">RECOMENDADOS DEL CHE</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CARRE DE CERDO GENOVA . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>TORRE DE SPAGHETTI . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>LOMITO DEL SUR . . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>LASAGNA DE LA CASA . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITA D CERDO . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>COSTILLITA A LA RIOJANA . $640</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PESCADOS            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FILET CON SALSA DE QUESOS $370</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET 4QUESO .CON .PAPAS  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET C/ GUARNICION . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS . . . . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 PORCION DE RABAS . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET SOLO . . . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA RABAS . . . . . . . $560</li>                          
                <li class="text-center"><span class="fa-li"></span>MEJILLONES A LA PROVENZAL $280</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">NUESTRAS PIZZANESAS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PIZZANESA DEL DIA . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA SENCILLA . . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA A LA FUGAZZETA $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA A LA NAPOLITANA$1300</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA A CABALLO . . .$1400</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA AL ROQUEFORT . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA PROVOLONE . . .$1400</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA DE LA HUERTA . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA ESPECIAL . . . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA POPEYE . . . . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA SUIZA . . . . .$1300</li>                          
                <li class="text-center"><span class="fa-li"></span>PIZZANESA SUIZA . . . . .$1300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS RELLENAS/AL H</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span> SHOW DE PASTAS . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>CANELONES DE RIC Y JAMON    $0</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVILES DE VERD Y POLLO .   $0</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES DE RIC Y JAMON .   $0</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINOS DE J Y Q . .    $0</li>                          
                <li class="text-center"><span class="fa-li"></span>AGNOLOTIS DE RIC Y NUEZ .   $0</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS CASEROS . . . . .    $0</li>                          
                <li class="text-center"><span class="fa-li"></span>CINTAS CASERAS . . . . .    $0</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ESQUISITAS SALSAS   </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POMODORO E BASILICO . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLOGNESA . . . . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CUATRO QUESOS . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>PARISSIENE . . . . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>SUE SUE . . . . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CARBONARA . . . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO CARNE Y/O POLLO  $500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CREPES              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CREPES HUMITA Y JAMON . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPES DE ESPINACAS . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPES DE CALABAZA . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CREPES DE RIC Y JAMON . . $500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/genla/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
