    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA/SALON . . . . .  $25</li>                          
                <li class="text-center"><span class="fa-li"></span>DOCENA FACTURAS/MOSTR . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS/BARRA . . . .   $25</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE+3LUNAS+JUGO  $175</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 2 LUNAS .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE SALON . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE/CREMA SALON . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE SALON . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE/DOB/CREM/SALON . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE/SALON . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE O TE C/LECHE+3LUNAS  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE COMPLETO . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO /SALON . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO ITALIANO /SALON $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO/SALON . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO/CREMA/SALON . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE SALON . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE /SALON . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE COMPLETO . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO/SALON . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO LECHE/SALON . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO .CHOCOLATE . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>MANT/QUESO/MERM//SALON .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADAS PORC/SALON . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE IRLANDES . . . . . .  $85</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TORTAS CASERAS      </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TORTA PORCION/SALON . . . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>RICOTA C/DURAZNO/SALON .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA . . . . . . .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC TORTA MOSTRADOR . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA VIAJE . . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ROSCA RELLENA . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA MANZANA . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>BALCARSE/SELVA NEGRA/CUMP $700</li>                          
                <li class="text-center"><span class="fa-li"></span>SELVA NE./BALCARS/CUMPLE  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>PASTA FROLA . . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>RICOTA CON DULCE LECHE .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLA,FRUTAL,LEMON PIE $700</li>                          
                <li class="text-center"><span class="fa-li"></span>TARTA RICOTA . . . . . .  $500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/genla/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
