    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE CREMA O DULCE . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE D MANZANA /RUM  $285</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN/SALON . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO/SALON . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>BAN/CREM/DUL/SALON . . .  $165</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLA/CREMA/SALON . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA FRUTA/SALON . .  $205</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS.FRUTA/HEL/SALON . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNO/SALON . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA C/CREMA . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>REC.CREMA/DULCE/SALON . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA MOSTR. . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN MOSTR. . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO MOSTR. . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTILLAS C/CREMA MOST. . $215</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA FRUTA MOSTR. . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNO EN ALMIBAR MOSTR. $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA C/CREMA MOSTR. . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>REC SALSAS ESPECIALES . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARG ESTOFA . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>FRUTA .FRESCA . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>MERENGUE DE DULCE O CREMA  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO POSTRE . . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES HELADOS     </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>HELADO C/1BOCHA . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO DE .2 BOCHAS . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO C/3BOCHAS . . . .  $265</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO BOMBON SUIZO . . . $205</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO ALMENDRADO . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO CHARLOTTE . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO . . . . . . . . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">COPAS HELADAS       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA GENOVA . . . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MELBA/DON PEDRO . .  $750</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/genla/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
