    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICUADO BAN/MAN/NAR/DUR . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO ANA/FRU/TUTTI . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PRO. LIC/JUGO Y TOSTADO . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PRO. C/LECHE Y TOSTADO .  $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORRON CORONA . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOP QUILMES/SALON . . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>TANQUE 1/2 LITRO . . . .  $215</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1LITRO . . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1.5 LITRO . . . . . $325</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA .IMPERIAL . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA HEINEKEN . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA 1L .HEINEKEN . . . $315</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA MILLER . . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA MILLER . . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON STOUT . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PORRON QUILMES . . . . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>IGUANA DELIVERI . . . . . $245</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP MOSTRADOR . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE LITRO NEGRA . .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1.5 LITRO NEGRA . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES STOUT O BOCK . .  $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS SIN ALCOHOL </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BEBIDA 1.5 LTS/SALON . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>BEBIDA 350ML/BARRA . . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>BEBIDA (600CM3)/DELIVERY  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>BIDA 1.5LTS/DELIVERY . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA PERSONAL . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA/AGUA/SALON . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADA/SALON . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>SODA SIFON/SALON . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO EXPRIMIDO/SALON . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE JUGO NARANJA . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE LIMON . . . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO BEBIDA . . . . .   $80</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">MOSCATO             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA MOSCATO/SALON . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA MOSCATO/BARRA . . .   $55</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO CROTTA/BOT1LITRO  $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINO DE LA CASA     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA VINO/SALON . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA VINO/BARRA . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO X 1/2 LITRO . . . .  $155</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO X 1 LITRO . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO BCO/TIN 375ML $165</li>                          
                <li class="text-center"><span class="fa-li"></span>V.VIEJO TINT 750 ML . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>V.VIEJO BLANCO 750 ML . . $230</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS FINOS         </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LOPEZ TINTO 750 ML . . .  $355</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TINTO 375 ML . . .  $235</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ BLANCO 750 ML . . . $355</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ BLANCO 375 ML . . . $235</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON FAMOS TINTO 750 ML $430</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT 750 . . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT 375 ML . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ETCHART 750 ML . . . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>COSECHA TARDIA 750ML . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE 750ML . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>SAN FELIPE CHICO . . . .  $235</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">SIDRAS Y CHAMPAGNES </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>NEW AGE 750 ML/SALON . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>BARON B . . . . . . . . .$1500</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMP F D ALVEAR . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTRA BRUT . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA REAL 720 ML . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>FRESITA . . . . . . . . . $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKY LICORES Y COG</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>WHISKY . . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>LICORES/ COÑAC . . . . .  $110</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GANCIA . . . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO . . . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BRANCA MEDIDA . .  $135</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET 1/2 MEDIDA . . . . $115</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO CON FERNET . . .  $225</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $225</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA BATIDO . . . . . . $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">TRAGOS              </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ATARDECER . . . . . . . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>TROPICAL . . . . . . . .  $240</li>                          
                <li class="text-center"><span class="fa-li"></span>GOOD MORNING . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>LIGHT . . . . . . . . . . $235</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/genla/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
